env/*
Profiles/*
**/__pycache__/*
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.env
*.venv
venv/
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.egg-info


*.out